* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: arial;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}

header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 10px 10%;
	width: 100%;
	height: 15vh;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.logo {
	font-size: 30px;
	order: 3;
	margin-left: auto;
	letter-spacing: 1rem;
}

.nav-list li {
	display: inline-block;
	padding: 0 20px;
}

.nav-list li a:hover {
	color: blueviolet;
}

.btn {
	width: 70px;
	height: 30px;
	margin-left: 20px;
	border-radius: 5px;
	border: none;
	background-color: blueviolet;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
}

.btn:hover {
	background-color: royalblue;
}